.header {
  width: 100%;
  height: 8vh;
  background-color: blue;
}
.first-layer-editar {
  width: 100%;
  background-color: #a8c7e8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}
.second-layer-editar {
  background-color: #6b93c6;
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
.third-layer-img {
  display: flex;
  padding-left: 86%;
}
.third-layer-editar {
  width: 100%;
  height: 63vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-floating {
  width: 80%;
  border-radius: 35px;
  margin: 1.2%;
}
.editar-cita-div {
  display: flex;
  justify-content: center;
}
.editar-cita-button {
  border-radius: 20px;
  width: 100px;
  height: 35px;
  background-color: #3157a8;
  color: white;
}
.footer {
  width: 100%;
  height: 8vh;
  background-color: blue;
  position: absolute;
  bottom: 0px;
}
